# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.gamejam-2021-feb.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\gamejam-2021-feb\.idea\.idea.gamejam-2021-feb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
